USE [master]
GO
/****** Object:  Database [AnimalArmi]    Script Date: 05.07.2025 3:50:36 ******/
CREATE DATABASE [AnimalArmi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AnimalArmi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AnimalArmi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AnimalArmi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AnimalArmi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnimalArmi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnimalArmi]
GO
/****** Object:  Table [dbo].[Feed]    Script Date: 05.07.2025 3:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feed](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pet_id] [int] NOT NULL,
	[Sweet_id] [int] NOT NULL,
	[Time] [time](7) NOT NULL,
	[Count] [int] NOT NULL,
	[isCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_Feed] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Med_karta]    Script Date: 05.07.2025 3:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Med_karta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pet_id] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Vaccine] [nvarchar](50) NULL,
	[Disease] [nvarchar](50) NULL,
	[Medicine] [nvarchar](50) NULL,
	[Advice] [nvarchar](max) NULL,
 CONSTRAINT [PK_Med_karta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet]    Script Date: 05.07.2025 3:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type_id] [int] NOT NULL,
	[Age] [int] NOT NULL,
	[BattleRating] [int] NOT NULL,
	[Karma] [int] NULL,
 CONSTRAINT [PK_Pet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pranks]    Script Date: 05.07.2025 3:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pranks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [int] NULL,
 CONSTRAINT [PK_Pranks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pranks_pets]    Script Date: 05.07.2025 3:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pranks_pets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pet_id] [int] NULL,
	[Prank_id] [int] NULL,
 CONSTRAINT [PK_Pranks_pets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 05.07.2025 3:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] NOT NULL,
	[Name] [nchar](10) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sweet]    Script Date: 05.07.2025 3:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sweet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sweet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Train]    Script Date: 05.07.2025 3:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Train](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pet_id] [int] NOT NULL,
	[Trick] [nvarchar](50) NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Train] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 05.07.2025 3:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05.07.2025 3:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_role] [int] NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Питомец   ')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Ветеринар ')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Хозяин    ')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Id_role], [Login], [Password]) VALUES (0, NULL, N'1', N'1')
INSERT [dbo].[User] ([Id], [Id_role], [Login], [Password]) VALUES (1, NULL, N'2', N'2')
INSERT [dbo].[User] ([Id], [Id_role], [Login], [Password]) VALUES (2, NULL, N'3', N'3')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Feed] ADD  CONSTRAINT [DF_Feed_isCompleted]  DEFAULT ((0)) FOR [isCompleted]
GO
ALTER TABLE [dbo].[Train] ADD  CONSTRAINT [DF_Train_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Feed]  WITH CHECK ADD  CONSTRAINT [FK_Feed_Pet] FOREIGN KEY([Pet_id])
REFERENCES [dbo].[Pet] ([Id])
GO
ALTER TABLE [dbo].[Feed] CHECK CONSTRAINT [FK_Feed_Pet]
GO
ALTER TABLE [dbo].[Feed]  WITH CHECK ADD  CONSTRAINT [FK_Feed_Sweet] FOREIGN KEY([Sweet_id])
REFERENCES [dbo].[Sweet] ([Id])
GO
ALTER TABLE [dbo].[Feed] CHECK CONSTRAINT [FK_Feed_Sweet]
GO
ALTER TABLE [dbo].[Med_karta]  WITH CHECK ADD  CONSTRAINT [FK_Med_karta_Pet] FOREIGN KEY([Pet_id])
REFERENCES [dbo].[Pet] ([Id])
GO
ALTER TABLE [dbo].[Med_karta] CHECK CONSTRAINT [FK_Med_karta_Pet]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Type] FOREIGN KEY([Type_id])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_Type]
GO
ALTER TABLE [dbo].[Pranks_pets]  WITH CHECK ADD  CONSTRAINT [FK_Pranks_pets_Pet] FOREIGN KEY([Pet_id])
REFERENCES [dbo].[Pet] ([Id])
GO
ALTER TABLE [dbo].[Pranks_pets] CHECK CONSTRAINT [FK_Pranks_pets_Pet]
GO
ALTER TABLE [dbo].[Pranks_pets]  WITH CHECK ADD  CONSTRAINT [FK_Pranks_pets_Pranks] FOREIGN KEY([Prank_id])
REFERENCES [dbo].[Pranks] ([Id])
GO
ALTER TABLE [dbo].[Pranks_pets] CHECK CONSTRAINT [FK_Pranks_pets_Pranks]
GO
ALTER TABLE [dbo].[Train]  WITH CHECK ADD  CONSTRAINT [FK_Train_Pet] FOREIGN KEY([Pet_id])
REFERENCES [dbo].[Pet] ([Id])
GO
ALTER TABLE [dbo].[Train] CHECK CONSTRAINT [FK_Train_Pet]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([Id_role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
